:root {
    --ff: "Courgette", cursive;
    --bg-400:#0e91a1;
    --bg-500:#146c78;
    --bg-100:#e3feff;
    --fg-400:#fff;
}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--ff);
    background-color: var(--bg-100);
}

header {
    padding: 1.5rem 3rem;
    background-color: #0e91a1;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.nav-button {
    border: none;
    background-color: var(--bg-400);
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    display: none;
}
.nav-button:hover {
    transform: scale(1.03);
    border: 1px solid #eee;
}
.nav-button:active {
    border: 2px solid var(--fg-400);
}

.nav-list {
    list-style: none;
    display: flex;
    gap: clamp(1rem, 3vw, 3rem);
}
.nav-item {
    font-size: clamp(1rem, 1.5vw, 2rem);
}
.nav-item:hover{
    text-decoration: underline;

}
.nav-link {
    text-decoration: none;
    color: var(--fg-400);
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-button {
        display: block;
        color: var(--fg-400);
    }
    .nav-list {
        --animation-speed:cubic-bezier(1, 0, 0.58, 1);
        --animation-time:300ms;
        flex-direction: column;
        gap: 0;
        visibility: hidden;
        position: absolute;
        opacity: 0;
        top: 2.5rem;
        border-radius: 10px;
        border: 2px solid var(--fg-400);
        background-color:var(--bg-400);
        transform:  scale(0); ;
        transform-origin: top right;
        transition: transform var(--animation-time) var(--animation-speed), visibility var(--animation-time) var(--animation-speed);
        padding: 10px 0;
    }
    .nav-button[opened]{
        background-color: var(--bg-500);
        
    }
    .nav-button[opened] + .nav-list {
        
        /* transform: */
        opacity: 1;
        visibility: visible;
        transform: scale(1); 
        transition: transform var(--animation-time) var(--animation-speed), visibility var(--animation-time) var(--animation-speed);

    }
    
    .nav-item {
        padding: 0.5rem 3rem 0.5rem 1rem;
        min-width: 200px;
    }
    .nav-item:hover{
        background-color: var(--bg-500);
    }
    
}
